<div class="docs-content">
  <h1>Welcome to Docs</h1>

  <h3>This Application uses:</h3>
  <div class="docs-checkboxes">
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">Dependency Injection</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle2" name="vehicle2" value="Car">
      <label for="vehicle2">Lazyload for module/routes</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">Adding router, router-outlets, etc.</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">Use Angular forms with value changes, validators, etc.</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">Use RXJS in any extent possible</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">Use standalone components and/or shared</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">Angular Material for styles and Angular CDK is used for DnD</label>
    </div>
  </div>

  <h3>Project checks:</h3>
  <div class="docs-checkboxes">
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle1" name="vehicle1" value="Bike">
      <label for="vehicle1">The project passes eslint</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle2" name="vehicle2" value="Car">
      <label for="vehicle2">The project builds and can be served</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">The app can create an appointment</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">The app can move appointments via Drag&Drop</label>
    </div>
    <div>
      <input type="checkbox" class="docs-checkbox" checked id="vehicle3" name="vehicle3" value="Boat">
      <label for="vehicle3">All different Angular patterns such as lazyload, router, forms are in place</label>
    </div>
  </div>

  <h3>New schedule dialog fields</h3>
  <p><strong>Title</strong>: the appointment title</p>
  <p><strong>Description</strong>: the appointment description</p>
  <p><strong>Tags</strong>: some key words for appointment</p>
  <p><strong>Date</strong>: the appointment date</p>
  <p><strong>Hour</strong>: the appointment start hour</p>
  <p><strong>Minute</strong>: the appointment start minute</p>
  <p style="margin-bottom: 32px !important;"><strong>Appointment duration</strong>: total appointment duration</p>

  <p><i>Obs: responsive layout was not implemented</i></p>
</div>
