@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  overflow: auto;
}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0 !important;
}

.toolbar {
  padding: 8px 24px;
  background-color: #1B1B1B !important;
}

.create-button {
  background-color: #28A745 !important;
  color: white !important;
}

.content {
  padding: 40px 32px !important;
}

.mat-mdc-list-item-unscoped-content {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.mdc-fab {
  width: 30px !important;
  height: 30px !important;
}

.mat-mdc-fab, .mat-mdc-mini-fab {
  box-shadow: none !important;
}

.mdc-list-item.mdc-list-item--with-one-line {
  padding: 8px 16px !important;
  height: auto !important;
}

* {
  box-sizing: border-box;
}
